name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Test (Elixir ${{ matrix.elixir }} | Erlang/OTP ${{ matrix.otp }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: "25.3"
            elixir: "1.14"
            os: ubuntu-22.04
            lint: true
            coverage: true
          - otp: "24.4"
            elixir: "1.13"
            os: ubuntu-22.04
          - otp: "23.3"
            elixir: "1.12.2"
            os: ubuntu-20.04
          - otp: "23.3"
            elixir: "1.11.4"
            os: ubuntu-20.04
          - otp: "20.3"
            elixir: "1.5.3"
            os: ubuntu-20.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      MIX_ENV: test

    steps:
      - name: Clone repository
        uses: actions/checkout@v1

      - name: Install OTP and Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}

      - name: Install dependencies
        run: mix do deps.get --only test, deps.compile

      - name: Check for formatted code
        if: ${{ matrix.lint }}
        run: mix format --check-formatted

      - name: Check for unused dependencies
        if: ${{ matrix.lint }}
        run: mix do deps.get, deps.unlock --check-unused

      - name: Check for compilation warnings
        if: ${{ matrix.lint }}
        run: mix compile --warnings-as-errors

      - name: Run tests
        run: mix test --trace
        if: ${{ !matrix.coverage }}

      - name: Run tests with coverage
        run: mix coveralls.github
        if: ${{ matrix.coverage }}
